body {
  background: #EBECF0; 
  color: #5a5858; 
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto; 
  width: 600px;
}

h1 {
  font-size: 40px;
  text-align: center; 
}

img {
  width: 600px;
  border-radius: 10px 100px / 200px;
  margin-left: auto; 
  margin-right: auto; 
}

a:link {
  color: #001833;
}

a:visited {
  color: #5a5858k;
}

.container {
    outline: white 1px;
    border: 1px white;
    font-weight: 500;
    border-radius: 4px;
    height: 40px;
    padding: 10px 10px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: white;
    transition: all 0.5s ease 0s;
    opacity: 0.5;
    color: black; 
    width: 480px;
    margin-left: 8px; 
    margin-bottom: 0px;
}

.container2 {
  outline: white 1px;
    border: 1px white;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px 10px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: white;
    transition: all 0.5s ease 0s;
    opacity: 0.5;
    color: black;  
    margin-bottom: 0px;
  
}

