

body {
  background: black; 
  color: #49fb35; 
  text-align: left;
  font-family: monospace;
  margin: 100px;
  width: 800px;
}

.green {
  border: 5px solid #49fb35;
  border-radius: 5px;
}

